{% extends "signin_base.html" %}
{% load static %}

{% block title %}
Forum Sign Up
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/core/signup.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'js/core/accounts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
                    <div class="signin-heading-div">
                        <h1 class="signin-heading">Forum</h1>
                    </div>
					<h5 class="card-title text-center">Sign Up</h5>
					<form class="form-signin" action="{% url 'signup' %}" method="POST">
						{% csrf_token %}
						{% if errors %}
						<div class="alert alert-danger">
							<div class="d-flex align-items-center justify-content-start">
								<span class="alert-icon">
									<i class="ti-alert"></i>
								</span>
								<span>{{ errors }}</span>
							</div>
						</div>
						{% endif %}

						<div class="form-label-group">
							<input type="text" id="inputUsername" class="form-control" name="username" 
								placeholder="Username" maxlength="30" required autofocus >
							<div class="valid-check-container" id="username-check" hidden>
								<div class="valid-check">
									<i class="far fa-check-circle"></i>
								</div>
							</div>
                            <label for="inputUsername">Username</label>
                            <div class="account-tooltip user-taken-tooltip" hidden>
                                <div class="account-tooltip-text user-taken-tooltip-text">
                                    This username is taken
                                </div>
						</div>
						
						</div>

						<div class="form-label-group">
							<input type="email" id="inputEmail" class="form-control" name="email" 
								placeholder="Email" required>
							<div class="valid-check-container" id="email-check" hidden>
								<div class="valid-check">
									<i class="far fa-check-circle"></i>
								</div>
							</div>
                            <label for="inputEmail">Email</label>
                            <div class="account-tooltip email-invalid-tooltip" hidden>
                                <div class="account-tooltip-text email-invalid-tooltip-text">
                                    Please enter a valid email
                                </div>
                            </div>
						</div>
						

						<div class="form-label-group">
							<input type="password" id="inputPassword" class="form-control" name="password" 
								placeholder="Password" required>
							<div class="valid-check-container" id="password-check" hidden>
								<div class="valid-check">
									<i class="far fa-check-circle"></i>
								</div>
							</div>
                            <label for="inputPassword">Password</label>
                            <div class="account-tooltip password-invalid-tooltip" hidden>
                                <div class="account-tooltip-text password-invalid-tooltip-text">
                                </div>
                            </div>
						</div>
						
						<button class="btn btn-lg btn-primary btn-block text-uppercase signin-submit" 
                            type="submit">Sign up</button>
                        <hr/>
                    </form>
                    <p>Already have an account?</p>
                    <div class="form-signin">
                        <a href="/"><button class="form-signin btn btn-lg btn-primary btn-block text-uppercase">Sign in</button></a>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}