{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
        {% block title %}
        {% endblock %}
    </title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/signin.css'%}">
    
    <!-- Javascript -->
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/core/accounts.js' %}"></script>
    
    <!-- Custom JS-->

    {% block javascript %}
    {% endblock %}

    <!-- Custom CSS -->

    {% block css %}
    {% endblock %}

</head>
<body> 

    {% block content %}
    {% endblock %}

</body>