.user-taken-tooltip, 
.email-invalid-tooltip,
.password-invalid-tooltip,
.password-match-invalid-tooltip{
    color: #495057;
    text-align: center;
    transform: translate(0, -10px);
    padding: 4px 0;
    font-size: 13px;
    border-radius: 4px;
}

.password-invalid-tooltip p{
    display: inline;
}

.form-control-invalid{
    border-color: rgb(236, 94, 94);
}

.form-control-invalid:focus{
    border-color: rgb(236, 94, 94);
    box-shadow: 0 0 0 0.2rem rgba(255, 34, 34, 0.25);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 34, 34, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(255, 34, 34, 0.25);
}

.form-control-valid{
    border-color: rgb(96, 223, 117);
}

.form-control-valid:focus{
    border-color: rgb(96, 223, 117);
    box-shadow: 0 0 0 0.2rem rgba(78, 255, 34, 0.25);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(78, 255, 34, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(78, 255, 34, 0.25);
}

.valid-check-container{
    position: absolute;
    width: 100%;
    float: right;
    top: 25%;
    right: 3%;
}

.valid-check {
    display: block;
    float: right;
}

.fa-check-circle{
    font-size: 1rem;
    color: rgb(96, 223, 117);
}

.password-tooltip-valid {
    color: rgb(11, 144, 33);
}

.password-tooltip-invalid {
    color: rgb(236, 94, 94);
}